html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background: black;
    margin: 0 auto;
}

.container {
    max-width: 1344px;
    margin: 0 auto;
}
.mainContent {
    display: flex;
}

.dashImg {
    max-width: 517px;
    max-height: 290px;
    margin: 265px 59px 0 112px;
}
.dashImgVector {
    max-height: 290px;
    margin: 193px 0 204px -20px;
}

.dashImgVector {
    width: 517px;
    max-height: 290px;
    margin: 193px 50px 0 10px;
}

.dashIgmMeasure {
    max-width: 517px;
    max-height: 290px;
    margin: 175px 59px 144px 112px;
}

.lineSeparator {
    max-width: 1120px;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    margin: 0 112px;
}

.playVideo {
    margin: 144px 86px 144px 19px;
    max-width: 560px;
    height: 100%;
}

.empoverExpl, .digitalExpl, .measureExpl, .maturityExpl, .nextExpl {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.empoverExpl {
    margin: 32px 112px 144px 0;
    max-width: 544px;
}

.digitalExpl {

    max-width: 544px;
}
.measureExpl {
    max-width: 544px;
    max-height: 155px;
    margin-bottom: 40px;
}
.maturityExpl {
    margin: 0 23px 144px 112px;
    max-width: 544px;
}
.nextExpl {
    margin: 0 400px 49px 400px;
    max-width: 544px;
    height: 110px;
    text-align: center;
}

.empower, .digital, .measure, .maturity, .Next, .banner {
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Overpass;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 56px;
}

.empower {
    max-width: 548px;

    margin-bottom: 32px;
    display: flex;
    margin-top: 144px
}

.digital {
    max-width: 548px;
    margin: 144px 0 32px 112px;
}


.measure {
    display: flex;
    max-width: 548px;
    min-height: 56px;
    margin: 200px 108px 32px 0;
}

.maturity {
    max-width: 548px;
    min-height: 112px;
    margin: 144px 0 32px 112px;
    display: flex;
}

.Next {
    align-items: center;
    max-width: 675px;
    min-height: 56px;
    margin: 144px 334px 32px 335px;
    text-align: center;
}

.banner {
    max-width: 539px;
    max-height: 168px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 56px;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 194px 0 194px 119px;
}

.bannerBot {
    color: #FFFFFF;
    align-items: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    max-width: 544px;
    max-height: 49px;
    margin-top: 0;
}

.pictureBannerTop {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("pictures/banner_top.png");
    max-height: 556px;

}


@media only screen and (max-width: 992px) {
    .container .mainContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dashImg {
        margin: 265px 59px 0 59px;
    }
    .empower .empoverExpl {
        margin: 0 auto;
    }
    .mainContentText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .empoverExpl {
        margin: 0 ;
    }
    .dashImg {
        margin: 0;
    }
    .empower {
        margin: 0;
    }
    .lineSeparator {
        justify-items: center;
        margin: 0 20px;
    }
    .mainContent {
        margin: 20px 20px;
    }
    .digital {
        margin: 0;
    }
    .digitalExpl {
        margin: 0 0 20px 0;
    }
    .dashImgVector {
        margin: 0;
    }
    .dashIgmMeasure {
        margin: 0;
    }
    .measure {
        margin: 0;
    }
    .measureExpl {
        margin: 0;
    }
    .maturity {
        margin: 0;
    }
    .maturityExpl {
        margin: 0;
    }
    .playVideo {
        margin: 0;
    }
    .Next {
        margin: 0;
    }
    .nextExpl {
        margin: 0;
        max-width: 544px;
    }
    .banner {
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        font-size: 25px;
        line-height: 40px;
    }
    img {
        width: 100%;
        max-height:none;
    }
    .dashImg {
        max-height: inherit;
    }
}




@media only screen and (max-width: 500px) {
    .empower,.digital, .measure, .maturity, .Next{
        font-size: 25px;
        line-height: 40px;
    }
    .empoverExpl, .digitalExpl, .measureExpl, .maturityExpl, .nextExpl{
        font-size: 14px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px){
    .empower, .digital, .measure, .maturity, .Next {
        font-size: 18px;
        line-height: 20px;
    }
    .pictureBannerTop {
        width: 100%;
    }
    .banner {
        font-size: 17px;
        line-height: 20px;
    }
    .bannerBot {
        font-size: 10px;
        line-height: 15px;
    }
}














